<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="UTF-8">
      <title>Registration page</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic|Playfair+Display:400,700&subset=latin,cyrillic">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
  </head>
  <body>
  <aside>
    <div class="image-container">
      <img class="logo" th:src="@{image/logo.png}" alt="Логотип">
    </div>
    <div class="rounded-rectangle"></div>
    <div class="widget">
      <h3 class="widget-title-2">Registration</h3>
    <form th:method="POST" th:action="@{/registration}" th:object="${user}">
      <input type="text" th:field="*{login}" id="login" class="input-log-2" placeholder="Nickname">
      <div style="color:red;" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Username error</div>
      <br/>
      <input type="text" th:field="*{password}" id="password" class="input-log-2" placeholder="Password">
      <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
      <br/>
      <input type="text" th:field="*{firstName}" id="firstName" class="input-log-2" placeholder="Name">
      <div style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">FirstName error</div>
      <br/>
      <input type="text" th:field="*{lastName}" id="lastName" class="input-log-2" placeholder="Last name">
      <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">LastName error</div>
      <br/>
      <input type="text" th:field="*{address}" id="address" class="input-log-2" placeholder="Address">
      <div style="color: red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address error</div>
      <br/>
      <input type="text" th:field="*{telegramId}" id="telegramId" class="input-log-2" placeholder="telegramId">
      <div style="color: red" th:if="${#fields.hasErrors('telegramId')}" th:errors="*{telegramId}">telegramId error</div>
      <br/>
      <select name="role" id="role" class="input-log-2" placeholder="Choose role">
          <option th:each="role : ${T(ru.itmo.PreCrime.model.Role).values()}"
                  th:text="${role.displayText}"
                  th:value="${role}">
          </option>
      </select>
      <div style="color: red" th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Role error</div>

      <br><input type="submit" value="Sign up" class="but-log"/>
    </form>
    </div>

  </aside>
  </script>
  </body>
</html>