<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="UTF-8">
      <title>Card filling</title>
  </head>
  <body>
    <!-- поменять th:action -->
    <form th:method="POST" th:action="@{/cardfill}" th:object="${crimecard}"></form>
    <label for="victim_name">Введите имя жертвы:</label>
    <input type="text" th:field="*{victim_name}" id="victim_name">
    <div style="color:red;" th:if="${#fields.hasErrors('victim_name')}" th:errors="*{victim_name}">VictimName error</div>
    <br/>
    <label for="criminal_name">Введите имя преступника:</label>
    <input type="text" th:field="*{criminal_name}" id="criminal_name">
    <div style="color: red" th:if="${#fields.hasErrors('criminal_name')}" th:errors="*{criminal_name}">СriminalName error</div>
    <br/>
    <label for="placeofcrime">Введите место преступления:</label>
    <input type="text" th:field="*{placeofcrime}" id="placeofcrime">
    <div style="color: red" th:if="${#fields.hasErrors('placeofcrime')}" th:errors="*{placeofcrime}">PlaceOfCrime error</div>
    <br/>
    <label for="weapon">Введите используемое оружие:</label>
    <input type="text" th:field="*{weapon}" id="weapon">
    <div style="color: red" th:if="${#fields.hasErrors('weapon')}" th:errors="*{weapon}">Weapon error</div>
    <br/>
    <label for="crimetime">Введите время преступления:</label>
    <input type="datetime-local" th:field="*{crimetime}" id="crimetime">
    <div style="color: red" th:if="${#fields.hasErrors('crimetime')}" th:errors="*{crimetime}">Address error</div>
    <br/>
    <label for="typecrime">Выберите тип преступления:</label>
    <select name="typecrime" id="typecrime">
        <option th:each="typecrime : ${T(ru.itmo.PreCrime.model.CrimeType).values()}"
                th:text="${typecrime.displayText}"
                th:value="${typecrime}">
        </option>
    </select>
    <div style="color: red" th:if="${#fields.hasErrors('typecrime')}" th:errors="*{typecrime}">CrimeType error</div>
    <input type="submit" value="Sign up"/>
  </form>
</body>
</html>