<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Visions List</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charSet="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/card_table.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic|Playfair+Display:400,700&subset=latin,cyrillic">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script src="js/vision_script.js"></script>
</head>
<body>
<div class="widget_prof">
    <h3 class="widget-title">Profile</h3>
    <a href="/cabinet" class="but-logout">Return</a>
    <a href="/login" class="but-logout">Logout</a>
</div>
<div class="widget">
    <div class="table-container">
        <h1>Visions List</h1>
        <table>
            <thead>
            <tr>
                <th>№</th>
                <th>Vision</th>
<!--                <th>isAccepted</th>-->
                <th th:if="${user.Role == TECHNIC}"></th>
                <th th:if="${user.Role == TECHNIC}"></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="vision : ${visions}">
                <td th:text="${vision.id}"></td>
                <td><a th:href="@{${vision.videoUrl}}" th:text="${vision.videoUrl}"></a></td>
<!--                <td th:text="${vision.accepted}"></td>-->
                <td th:if="${user.Role == TECHNIC}">
                    <form th:if="${user.Role == TECHNIC}" th:action="@{/visions/{id}/accept(id=${vision.id})}" th:method="post" style="display: inline;">
                        <input type="submit" class="but-logout" value="Approve">
                    </form>
                </td>
                <td th:if="${user.Role == TECHNIC}">
                    <button class="delete-button" th:data-vision-id="${vision.id}" type="button" th:if="${user.Role == TECHNIC}">Delete Echo</button>
                </td>
                <td>
                    <button class = "but" th:data-video-url="${vision.videoUrl}">View vision</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<script>
        $(document).ready(function() {
            $('.delete-button').click(function() {
                var visionId = $(this).data('vision-id');
                deleteVision(visionId);
            });
        });

        function deleteVision(visionId) {
            $.ajax({
                url: '/visions/' + visionId,
                type: 'DELETE',
                success: function() {
                    // обновление страницы
                    location.reload();
                },
                error: function() {
                    console.error('Failed to delete video');
                }
            });
        }
    </script>
<!-- Модальное окно для просмотра видео -->
<div id="videoModal" class="modal-1">
    <div class="modal-content-1">

        <div class="iframe-container">
        <iframe id="videoPlayer" src=""></iframe>
    </div>
        <span class="close">&times;</span>
    </div>
</div>
</body>
</html>